---
import '../styles/global.css';
import SideBar from './SideBar.astro';

interface Props {
  title: string;
  description?: string;
}

const { title, description = '一个安静的技术博客' } = Astro.props;
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} | MosBlog</title>
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <div class="layout">
      <!-- 左侧侧边栏 -->
      <SideBar/>

      <!-- 右侧内容区 -->
      <main class="main">
        <slot />
      </main>
    </div>
  </body>
</html>
